<!DOCTYPE html>
<html>
  <head>
    <title>DW Sales Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body class="bg-gray-100">
    <!-- HEADER -->
    <div class="p-4">
      <div class="w-full flex justify-between items-center mb-6">
        <h1 class="text-3xl font-bold mb-6">DW Retail Dashboard</h1>
        <div class="flex gap-6 items-center">
          <a href="/" class="text-blue-600 hover:underline">Dashboard</a>
          |
          <a href="/dimensions" class="text-blue-600 hover:underline"
            >Dimensions</a
          >
          |
          <a href="/facts" class="text-blue-600 hover:underline">Fact Tables</a>
          |
          <a href="/warehouse" class="text-blue-600 hover:underline"
            >Warehouse</a
          >
        </div>
      </div>

      <!-- CHART GRID -->
      <div class="grid grid-cols-3 gap-6">
        <!-- Payment Summary -->
        <div class="bg-white p-6 rounded-xl shadow">
          <div class="flex justify-between mb-3">
            <h4 class="font-semibold">Margin Per Payment</h4>

            <div class="flex gap-2">
              <input type="date" id="payStart" class="border p-1 rounded" />
              <input type="date" id="payEnd" class="border p-1 rounded" />
              <button
                onclick="loadPayment()"
                class="bg-blue-500 text-white px-3 rounded"
              >
                Apply
              </button>
            </div>
          </div>

          <canvas id="paymentChart"></canvas>
        </div>

        <!-- Top Products -->
        <div class="bg-white p-6 rounded-xl shadow">
          <div class="flex justify-between mb-3">
            <h4 class="font-semibold">Top 5 Products</h4>

            <div class="flex gap-2">
              <input type="date" id="topStart" class="border p-1 rounded" />
              <input type="date" id="topEnd" class="border p-1 rounded" />
              <button
                onclick="loadTopProducts()"
                class="bg-blue-500 text-white px-3 rounded"
              >
                Apply
              </button>
            </div>
          </div>

          <canvas id="topProductChart"></canvas>
        </div>

        <!-- Sales by Category -->
        <div class="bg-white p-6 rounded-xl shadow">
          <div class="flex justify-between mb-3">
            <h4 class="font-semibold">Sales by Category</h4>

            <div class="flex gap-2">
              <input type="date" id="catStart" class="border p-1 rounded" />
              <input type="date" id="catEnd" class="border p-1 rounded" />
              <button
                onclick="loadCategory()"
                class="bg-blue-500 text-white px-3 rounded"
              >
                Apply
              </button>
            </div>
          </div>

          <canvas id="categoryChart"></canvas>
        </div>

        <!-- Daily Sales (span 2 columns) -->
        <div class="bg-white p-6 rounded-xl shadow col-span-3">
          <div class="flex justify-between mb-3">
            <h4 class="font-semibold">Gross Profit Daily</h4>
            <div class="flex gap-2">
              <input type="date" id="dailyStart" class="border p-1 rounded" />
              <input type="date" id="dailyEnd" class="border p-1 rounded" />
              <button
                onclick="loadDaily()"
                class="bg-blue-500 text-white px-3 rounded"
              >
                Apply
              </button>
            </div>
          </div>
          <canvas id="dailyChart"></canvas>
        </div>
      </div>
    </div>

    <script>
      let dailyChart;

      async function loadDaily() {
        const start = document.getElementById("dailyStart").value;
        const end = document.getElementById("dailyEnd").value;

        const res = await fetch(
          `/api/daily-gross-profit?start=${start}&end=${end}`
        );
        const data = await res.json();

        const labels = data.map((r) => r[0]);
        const values = data.map((r) => r[1]);

        if (dailyChart) dailyChart.destroy();

        dailyChart = new Chart(document.getElementById("dailyChart"), {
          type: "line",
          data: {
            labels,
            datasets: [
              {
                label: "Daily Gross Profit",
                data: values,
                borderWidth: 2,
              },
            ],
          },
        });
      }

      let paymentChart;

      async function loadPayment() {
        const start = document.getElementById("payStart").value;
        const end = document.getElementById("payEnd").value;

        const res = await fetch(
          `/api/payment-summary?start=${start}&end=${end}`
        );
        const data = await res.json();

        const labels = data.map((r) => r[0]);
        const values = data.map((r) => r[1] * 100); // margin → persen

        if (paymentChart) paymentChart.destroy();

        paymentChart = new Chart(document.getElementById("paymentChart"), {
          type: "bar",
          data: {
            labels,
            datasets: [
              {
                label: "Margin per Payment (%)",
                data: values,
                borderWidth: 2,
              },
            ],
          },
          options: {
            scales: {
              y: {
                ticks: {
                  callback: function (value) {
                    return value + "%";
                  },
                },
              },
            },
          },
        });
      }

      let topProductChart;

      async function loadTopProducts() {
        const start = document.getElementById("topStart").value;
        const end = document.getElementById("topEnd").value;

        const res = await fetch(`/api/top-products?start=${start}&end=${end}`);
        const data = await res.json();

        const labels = data.map((r) => r[0]);
        const values = data.map((r) => r[1]);

        if (topProductChart) topProductChart.destroy();

        topProductChart = new Chart(
          document.getElementById("topProductChart"),
          {
            type: "bar",
            data: {
              labels,
              datasets: [
                {
                  label: "Top Selling Products",
                  data: values,
                  borderWidth: 2,
                },
              ],
            },
          }
        );
      }

      let categoryChart;

      async function loadCategory() {
        const start = document.getElementById("catStart").value;
        const end = document.getElementById("catEnd").value;

        const res = await fetch(
          `/api/category-sales?start=${start}&end=${end}`
        );
        const data = await res.json();

        const labels = data.map((r) => r[0]);
        const values = data.map((r) => r[1]);

        if (categoryChart) categoryChart.destroy();

        categoryChart = new Chart(document.getElementById("categoryChart"), {
          type: "pie",
          data: {
            labels,
            datasets: [
              {
                data: values,
                borderWidth: 2,
              },
            ],
          },
        });
      }

      window.addEventListener("load", () => {
        const end = new Date().toISOString().split("T")[0];
        const start = new Date(Date.now() - 30 * 86400000)
          .toISOString()
          .split("T")[0];

        document.getElementById("dailyStart").value = start;
        document.getElementById("dailyEnd").value = end;

        document.getElementById("payStart").value = start;
        document.getElementById("payEnd").value = end;

        document.getElementById("topStart").value = start;
        document.getElementById("topEnd").value = end;

        document.getElementById("catStart").value = start;
        document.getElementById("catEnd").value = end;

        loadDaily();
        loadPayment();
        loadTopProducts();
        loadCategory();
      });
    </script>
  </body>
</html>
